#calc{
	width:300px;
	height: 500px;
	margin:10px;
}
#screenDisplay{
	height: 30px;
	width:100%;
	border:1px black solid;
	text-align: right;
}
#mainStage{
	width: 100%;
	/*height: 460px;*/
	border:1px black solid;
	display: flex;
	/*background-color: #303F9F;*/
	background-color: #B6B6B6;
}
#buttonStage{
	display: flex;
	height: 280px;
	flex-wrap:wrap;
	/*border:1px black solid;*/
}

.numButton{
	height: 50px;
	width:50px;
	border:2px black solid;
	margin: 10px;
	text-align: center;
}
.numStyle{
	background-color: #03A9F4;	
}
.funcStyle{
	background-color: #009688;	
}

.funcButton{
	height: 50px;
	width:50px;
	border:2px black solid;
	margin: 10px;
	text-align: center;
float: left;
}